body{
    width: 100%;
    background-image: url(./img/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
} 
#searchbox{
    color: white;
    height: 40px;
    width: 270px;
    border-radius: 5px;
    background-color: rgba(255, 223, 223, 0.2);
    border: 1px solid white;
}   
#container{
    margin-left: 220px;
    margin-right: 230px;
    height: 340px;
    margin-top: 100px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.6);
}
#p1,#p2,h4{
    margin-top: 25px;
    color: rgb(235, 235, 235);
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
#resultbox{
    margin-top: 15px;
    color: white;
    font-size: larger;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h2{
    text-shadow: 0px 8px 5px;
    text-decoration-color: aqua;
    margin-top: 20px;
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    
}
#line{
    border-right: 1px solid white;
    height: 300px;
    position: absolute;
    margin-top: 20px;
    margin-left: 450px;
}
#name,#email,#number{
    display: flex;
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 223, 223, 0.2);
    border: 1px solid white;
}
::placeholder{
    color:white;
}
#left button{
    margin-top: 20px;
}
.btn{
    border: 1px solid white;
    background-color: black;
    color:white;
    
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
#left{
    margin-left: 50px;
    margin-top: 20px;
    float: left;
}
#right{
    margin-right: 50px;
    margin-top: 20px;
    float: right;
}
footer{
    font-weight: bold;
    font-size: small;
    color: rgba(255, 255, 255, .8);
    margin-top: 370px;
}
#copyright{
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    margin: 100px 0px 0px 1140px;
    color: white;
}